// night.scss

@import 'reset';

$blue: hsla(240, 100%, 50%, 1);
$white: hsla(360, 100%, 100%, 1);
$black: hsla(0, 0%, 0%, 1);

$background: hsla(240, 100%, 15%, 1);
$body: $white;
$header: $blue;
$link: $blue;
$nav: $white;
$nav-home: $white;
$title: $white;
$cat: $blue;
$line: $white;

@import 'universal';
