@charset "UTF-8";
/* line 5, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'texgyreheroscn-regular';
  src: url("../fonts/texgyreheroscn-regular.woff") format("woff");
}
/* line 11, ../scss/_universal.scss */
img {
  display: block;
  max-width: 100%;
}

/* line 18, ../scss/_universal.scss */
p, ul li, footer {
  font-size: 1.3rem;
  line-height: 1.25em;
  margin-bottom: 1em;
  font-weight: 400;
  font-style: normal;
  color: black;
}

/* line 27, ../scss/_universal.scss */
h1, h2, h3, h4 {
  font-size: 1.3rem;
  line-height: 1.25em;
  margin-bottom: .5em;
  font-weight: 400;
  font-style: normal;
  color: blue;
}

/* line 36, ../scss/_universal.scss */
h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  border: 0 !important;
}

/* line 42, ../scss/_universal.scss */
a {
  color: blue;
  text-decoration: none;
  transition: color .3s, background .3s, border .3s;
}

/* line 47, ../scss/_universal.scss */
a:hover {
  color: inherit;
  text-decoration: underline;
}

/* line 53, ../scss/_universal.scss */
.cf:after {
  content: "";
  display: table;
  clear: both;
}

/* line 59, ../scss/_universal.scss */
html, body {
  font-family: 'texgyreheroscn-regular', sans-serif;
  font-size: 1.1rem;
  font-weight: normal;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
      text-rendering: optimizeLegibility !important;
      -webkit-font-smoothing: antialiased !important;
  width: 100%;
  height: 100%;
  /* -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; */
}

/* line 73, ../scss/_universal.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 77, ../scss/_universal.scss */
body {
  overflow: auto;
  background-color: white;
}

/* line 101, ../scss/_universal.scss */
.clock-window {
  border: 0.18em blue solid;
  background-color: white;
  display: inline-block;
  height: 12.75em;
  width: 12.75em;
  position: absolute;
  z-index: 100;
  -webkit-box-shadow: 10px 10px 0 rgba(128, 128, 128, 0.65);
  -moz-box-shadow: 10px 10px 0 rgba(128, 128, 128, 0.65);
  box-shadow: 10px 10px 0 rgba(128, 128, 128, 0.65);
}

/* line 114, ../scss/_universal.scss */
.clock-window:hover {
  cursor: move;
}

/* line 118, ../scss/_universal.scss */
#clock-hide {
  position: absolute;
  right: 0;
  height: 2em;
  width: 1.5em;
}
/* line 124, ../scss/_universal.scss */
#clock-hide i {
  font-size: 2em;
  color: blue;
}

/* line 130, ../scss/_universal.scss */
.clock {
  margin: 1.25em;
  padding: 0;
  text-align: left;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  zoom: 1;
  height: 10em;
  width: 10em;
  border: 0.18em solid blue;
  border-radius: 5.36em;
  background: white url(http://www.evening-class.org/ec-clock.svg) no-repeat center;
  background-size: 88%;
}
/* line 145, ../scss/_universal.scss */
.clock i {
  font-style: normal;
}
/* line 149, ../scss/_universal.scss */
.clock .hour-hand,
.clock .minute-hand {
  position: absolute;
  bottom: 4.91em;
  left: 4.91em;
  content: "";
  background: blue;
  border-radius: 0.18em;
  width: 0.18em;
  height: 4.5em;
  -ms-transform-origin: 50% 4.41em;
  -webkit-transform-origin: 50% 4.41em;
  transform-origin: 50% 4.41em;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
/* line 171, ../scss/_universal.scss */
.clock .hour-hand {
  height: 3em;
  -ms-transform-origin: 50% 2.91em;
  -webkit-transform-origin: 50% 2.91em;
  transform-origin: 50% 2.91em;
}

/* line 181, ../scss/_universal.scss */
header#navigation {
  padding-top: 1em;
  padding-bottom: 1.3em;
}
/* line 185, ../scss/_universal.scss */
header#navigation h1 a {
  color: blue;
}

/* line 190, ../scss/_universal.scss */
div.fixed-top {
  position: fixed;
  right: 1em;
  left: 1em;
  z-index: 1030;
}

/* line 197, ../scss/_universal.scss */
nav#main ul li {
  padding-left: 1.5em;
}

/* line 201, ../scss/_universal.scss */
nav#main ul li a {
  color: blue;
}

/* line 205, ../scss/_universal.scss */
nav#main {
  float: right;
}

/* line 209, ../scss/_universal.scss */
header h1, nav#main, nav#main ul, nav#main ul li, nav#main ul li a {
  display: inline-block;
}

/* line 215, ../scss/_universal.scss */
#home nav#main ul li a, #home h1 a {
  color: white;
}

/* line 219, ../scss/_universal.scss */
div#homeImage {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

/* line 228, ../scss/_universal.scss */
.bulletin-window {
  border: 0.18em blue solid;
  background-color: white;
  display: inline-block;
  height: auto;
  width: auto;
  position: absolute;
  z-index: 100;
  -webkit-box-shadow: 10px 10px 0 rgba(128, 128, 128, 0.65);
  -moz-box-shadow: 10px 10px 0 rgba(128, 128, 128, 0.65);
  box-shadow: 10px 10px 0 rgba(128, 128, 128, 0.65);
}

/* line 241, ../scss/_universal.scss */
.bulletin-window:hover {
  cursor: move;
}

/* line 245, ../scss/_universal.scss */
.bulletin {
  padding: 2em;
}

/* line 249, ../scss/_universal.scss */
#bulletin-hide {
  position: absolute;
  right: 0;
  height: 2em;
  width: 1.5em;
}
/* line 255, ../scss/_universal.scss */
#bulletin-hide i {
  font-size: 2em;
  color: blue;
}

/* line 263, ../scss/_universal.scss */
#archives header, #archives ul, #archives section, #tags header h2, #tags ul, #categories header h2, #categories ul {
  display: inline;
}

/* line 267, ../scss/_universal.scss */
#archives ul li, #tags ul li, #categories ul li {
  display: inline-block;
}

/* line 271, ../scss/_universal.scss */
#archives ul li a, #tags ul li a {
  text-decoration: underline;
  color: black;
}

/* line 277, ../scss/_universal.scss */
#archives p, #archives ul li, #archives h2 {
  margin-bottom: 0em;
}

/* line 280, ../scss/_universal.scss */
#archives h2 {
  color: blue;
}

/* line 284, ../scss/_universal.scss */
section#archives {
  margin-bottom: 1.5em;
}

/* line 288, ../scss/_universal.scss */
section#description p {
  margin-bottom: 0em;
  color: blue;
}

/* line 296, ../scss/_universal.scss */
.az-column, article.item {
  width: 100%;
}

/* line 297, ../scss/_universal.scss */
.az-gutter {
  width: 4%;
}

@media (min-width: 768px) {
  /* line 300, ../scss/_universal.scss */
  .az-column, article.item {
    width: 24.25%;
  }

  /* line 301, ../scss/_universal.scss */
  .az-gutter {
    width: 1%;
  }
}
/* line 304, ../scss/_universal.scss */
section#posts, section#post, section#about {
  border-top: 0.2rem solid blue;
  padding-top: 2em;
  margin-bottom: 2em;
}

/* line 310, ../scss/_universal.scss */
article {
  max-width: 60em;
  margin: auto;
}

/* line 315, ../scss/_universal.scss */
article.item {
  border-bottom: 0.2rem solid blue;
  padding-bottom: 1em;
}

/* line 320, ../scss/_universal.scss */
article h2 {
  margin-bottom: 0;
  color: black;
}

/* line 325, ../scss/_universal.scss */
article header h1 {
  color: blue;
}

/* line 329, ../scss/_universal.scss */
section#about h1 {
  color: blue;
}

/* line 333, ../scss/_universal.scss */
article footer, section#post, section#about p {
  color: black;
}

/* line 337, ../scss/_universal.scss */
section#post p {
  color: black;
}

/* line 341, ../scss/_universal.scss */
section#post div.tags ul, section#post div.tags ul li {
  display: inline;
}

/* line 345, ../scss/_universal.scss */
nav#pager {
  padding-top: 1em;
  text-align: center;
}

/* line 350, ../scss/_universal.scss */
nav#pager ul li {
  display: inline-block;
}

/* line 354, ../scss/_universal.scss */
nav#pager ul li, nav#pager ul li a {
  color: blue;
}

/* line 358, ../scss/_universal.scss */
#previous-post {
  float: right;
}

/* line 362, ../scss/_universal.scss */
#next-post {
  float: left;
}

/* line 366, ../scss/_universal.scss */
.carousel-control.right, .carousel-control.left {
  background-image: none;
  width: 50%;
}

/* line 371, ../scss/_universal.scss */
div.carousel-indicators-numbers {
  padding-top: 1em;
}

/* line 375, ../scss/_universal.scss */
footer div.tags {
  padding-top: 1em;
}

/* line 384, ../scss/_universal.scss */
nav#pagination {
  text-align: center;
}

/* line 388, ../scss/_universal.scss */
nav#pagination ul li {
  display: inline-block;
}

/* line 392, ../scss/_universal.scss */
nav#pagination ul li, nav#pagination ul li a {
  color: blue;
}

/* line 396, ../scss/_universal.scss */
#pagination-prev {
  float: left;
}

/* line 400, ../scss/_universal.scss */
#pagination-next {
  float: right;
}

/* line 406, ../scss/_universal.scss */
.about-section {
  margin-bottom: 1em;
}

/* line 410, ../scss/_universal.scss */
section#about h1 {
  margin-bottom: 0;
}

/* line 419, ../scss/_universal.scss */
#about h1 + p {
  text-indent: 0 !important;
  margin-bottom: 0;
}

/* line 424, ../scss/_universal.scss */
#about p {
  text-indent: 5%;
  margin-bottom: 0;
}

/* line 430, ../scss/_universal.scss */
#mc_embed_signup {
  clear: left;
  font-size: 1.1rem;
}
/* line 433, ../scss/_universal.scss */
#mc_embed_signup h2 {
  margin-bottom: .2em;
}

/* line 438, ../scss/_universal.scss */
.mc-field-group {
  display: inline;
}

/* line 442, ../scss/_universal.scss */
.sign-up-bar {
  font-size: 1.2rem;
}

/* line 446, ../scss/_universal.scss */
.button {
  display: inline;
}

/* line 450, ../scss/_universal.scss */
.button input {
  background-color: white;
  color: blue;
  padding: 4px;
  height: 2.1em;
  border: 0.2rem blue solid;
}

/* line 458, ../scss/_universal.scss */
.button input:hover {
  background-color: blue;
  color: white;
  border: 0.2rem blue solid;
}

/* line 464, ../scss/_universal.scss */
input#mce-EMAIL {
  text-indent: 2%;
  height: 2.1em;
  width: 15em;
  line-height: 1rem;
  border: 0.2rem blue solid;
}

/* line 474, ../scss/_universal.scss */
div#coverimage {
  border: 1px solid blue;
  background-color: blue;
  margin-bottom: 0.5em;
}

/* line 480, ../scss/_universal.scss */
div#coverimage > img {
  mix-blend-mode: multiply;
  transition: background-color .3s ease-in-out;
}

/* line 485, ../scss/_universal.scss */
div#coverimage > img:hover {
  mix-blend-mode: normal;
}

/* line 490, ../scss/_universal.scss */
footer.footer {
  display: none;
  width: 100vw;
  margin-bottom: 0;
  background-color: blue;
}

/* line 496, ../scss/_universal.scss */
.newsletter {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 25vh;
  text-align: center;
}
/* line 503, ../scss/_universal.scss */
.newsletter h2 {
  color: white;
}
/* line 506, ../scss/_universal.scss */
.newsletter #mc_embed_signup {
  padding-bottom: 2em;
}
/* line 508, ../scss/_universal.scss */
.newsletter #mc_embed_signup h2 {
  margin-bottom: .5em;
}
/* line 511, ../scss/_universal.scss */
.newsletter #mc_embed_signup .button input {
  background-color: white;
  color: blue;
  position: inherit;
}
/* line 516, ../scss/_universal.scss */
.newsletter #mc_embed_signup .button input:hover {
  background-color: blue;
  color: white;
  border: 0.2rem white solid;
}
/* line 521, ../scss/_universal.scss */
.newsletter #mc_embed_signup input#mce-EMAIL {
  color: black;
}

/* line 527, ../scss/_universal.scss */
.social-buttons {
  display: inline-block;
}
/* line 529, ../scss/_universal.scss */
.social-buttons ul {
  display: inline-block;
}
/* line 531, ../scss/_universal.scss */
.social-buttons ul li {
  display: inline-block;
  margin-bottom: 0;
}
/* line 534, ../scss/_universal.scss */
.social-buttons ul li a {
  color: white;
  padding: .6em;
}
