/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'texgyreheroscn-regular';
  src: url("../fonts/texgyreheroscn-regular.woff") format("woff"); }
img {
  display: block;
  max-width: 100%; }

p, ul li, footer {
  font-size: 1.3rem;
  line-height: 1.25em;
  margin-bottom: 1em;
  font-weight: 400;
  font-style: normal;
  color: black; }

h1, h2, h3, h4 {
  font-size: 1.3rem;
  line-height: 1.25em;
  margin-bottom: .5em;
  font-weight: 400;
  font-style: normal;
  color: blue; }

h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  border: 0 !important; }

a {
  color: blue;
  text-decoration: none;
  transition: color .3s, background .3s, border .3s; }

a:hover {
  color: inherit;
  text-decoration: underline; }

.cf:after {
  content: "";
  display: table;
  clear: both; }

html, body {
  font-family: 'texgyreheroscn-regular', sans-serif;
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
  /* -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; */ }

html {
  position: relative;
  min-height: 100%; }

body {
  overflow: auto;
  background-color: white; }

header#navigation {
  padding-top: 1em;
  padding-bottom: 1.3em; }
  header#navigation h1 a {
    color: blue; }

div.fixed-top {
  position: fixed;
  right: 1em;
  left: 1em;
  z-index: 1030; }

nav#main ul li {
  padding-left: 1.5em; }

nav#main ul li a {
  color: blue; }

nav#main {
  float: right; }

header h1, nav#main, nav#main ul, nav#main ul li, nav#main ul li a {
  display: inline-block; }

#home nav#main ul li a, #home h1 a {
  color: white; }

div#homeImage {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px; }

#archives header, #archives ul, #archives section, #tags header h2, #tags ul, #categories header h2, #categories ul {
  display: inline; }

#archives ul li, #tags ul li, #categories ul li {
  display: inline-block; }

#archives ul li a, #tags ul li a {
  text-decoration: underline;
  color: black; }

#archives p, #archives ul li, #archives h2 {
  margin-bottom: 0em; }

#archives h2 {
  color: blue; }

section#archives {
  margin-bottom: 1.5em; }

section#description p {
  margin-bottom: 0em;
  color: blue; }

.az-column, article.item {
  width: 100%; }

.az-gutter {
  width: 4%; }

@media (min-width: 768px) {
  .az-column, article.item {
    width: 24.25%; }

  .az-gutter {
    width: 1%; } }
section#posts, section#post, section#about {
  border-top: 0.2rem solid blue;
  padding-top: 2em;
  margin-bottom: 2em; }

article {
  max-width: 60em;
  margin: auto; }

article.item {
  border-bottom: 0.2rem solid blue;
  padding-bottom: 1em; }

article h2 {
  margin-bottom: 0;
  color: black; }

article header h1 {
  color: blue; }

section#about h1 {
  color: blue; }

article footer, section#post, section#about p {
  color: black; }

section#post p {
  color: black; }

section#post div.tags ul, section#post div.tags ul li {
  display: inline; }

nav#pager {
  padding-top: 1em;
  text-align: center; }

nav#pager ul li {
  display: inline-block; }

nav#pager ul li, nav#pager ul li a {
  color: blue; }

#previous-post {
  float: right; }

#next-post {
  float: left; }

.carousel-control.right, .carousel-control.left {
  background-image: none;
  width: 50%; }

div.carousel-indicators-numbers {
  padding-top: 1em; }

footer div.tags {
  padding-top: 1em; }

nav#pagination {
  text-align: center; }

nav#pagination ul li {
  display: inline-block; }

nav#pagination ul li, nav#pagination ul li a {
  color: blue; }

#pagination-prev {
  float: left; }

#pagination-next {
  float: right; }

.about-section {
  margin-bottom: 1em; }

section#about h1 {
  margin-bottom: 0; }

#about h1 + p {
  text-indent: 0 !important;
  margin-bottom: 0; }

#about p {
  text-indent: 5%;
  margin-bottom: 0; }

#mc_embed_signup {
  clear: left;
  font-size: 1rem; }

.mc-field-group {
  display: inline; }

.button {
  display: inline; }

.button input {
  background-color: blue;
  color: white;
  padding: 4px;
  border: 0 none;
  height: 27px; }

input#mce-EMAIL {
  text-indent: 2%;
  height: 27px;
  line-height: 1rem; }

div#coverimage {
  border: 1px solid blue;
  background-color: blue;
  margin-bottom: 0.5em; }

div#coverimage > img {
  mix-blend-mode: multiply;
  transition: background-color .3s ease-in-out; }

div#coverimage > img:hover {
  mix-blend-mode: normal; }

.clock-window {
  border: 0.18em blue solid;
  background-color: white;
  display: inline-block;
  height: 12.75em;
  width: 12.75em;
  position: absolute;
  z-index: 100;
  -webkit-box-shadow: 10px 10px 0 rgba(128, 128, 128, 0.65);
  -moz-box-shadow: 10px 10px 0 rgba(128, 128, 128, 0.65);
  box-shadow: 10px 10px 0 rgba(128, 128, 128, 0.65); }

.clock-window:hover {
  cursor: move; }

#clock-hide {
  position: absolute;
  right: 0;
  height: 2em;
  width: 1.5em; }
  #clock-hide i {
    font-size: 2em;
    color: blue; }

.clock {
  margin: 1.25em;
  padding: 0;
  text-align: left;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  zoom: 1;
  height: 10em;
  width: 10em;
  border: 0.18em solid blue;
  border-radius: 5.36em;
  background: white url(http://www.evening-class.org/ec-clock.svg) no-repeat center;
  background-size: 88%; }
  .clock i {
    font-style: normal; }
  .clock .hour-hand,
  .clock .minute-hand {
    position: absolute;
    bottom: 4.91em;
    left: 4.91em;
    content: "";
    background: blue;
    border-radius: 0.18em;
    width: 0.18em;
    height: 4.5em;
    -ms-transform-origin: 50% 4.41em;
    -webkit-transform-origin: 50% 4.41em;
    transform-origin: 50% 4.41em;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  .clock .hour-hand {
    height: 3em;
    -ms-transform-origin: 50% 2.91em;
    -webkit-transform-origin: 50% 2.91em;
    transform-origin: 50% 2.91em; }

/*# sourceMappingURL=main.css.map */
